*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}
.hero {
      position: relative;
      width: 100%;
      height: 100vh;
      background: url('https://im.uniqlo.com/global-cms/spa/reseec6836e0517160da749e4f7a083fd9cfr.jpg') no-repeat center/cover;
    }
.navbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 95%;
      padding: 18px;
      display: flex;
      justify-content: center;
      gap: 40px;
}
.navbar a {
      color: white;
      text-decoration: none;
      font-size: 19px;
      margin-right: 3rem;
      margin-left: 3rem;
}
.logo {
    margin-left: 3rem;
}
.icon {
    margin-left: 72rem;
    margin-bottom: 20rem;
    margin-top: -25px;
}
.foto{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://im.uniqlo.com/global-cms/spa/resb65ee92f69932ae564e0eb36458481c1fr.jpg') no-repeat center/cover;
}
.foto h3{
    color: white;
}
.foto h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.foto h2{
    font-weight: bold;
    color: white;
    margin-top: -2rem;
}
.judul{
    margin: 2rem;
}
.kotak{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://im.uniqlo.com/global-cms/spa/resb50f0dfeb2122b2f5e66e7f310b41432fr.jpg') no-repeat center/cover;
}
.kotak h3{
    color: white;
}
.kotak h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.kotak h2{
    font-weight: bold;
    color: white;
    margin-top: -2rem;
}
